body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 20px;
    min-width: 200px;
    text-align: center;
    background-image: url(bg.jpg);
  }
  
  .container {
    max-width: 300px;
    margin: 0 auto;
  }
  
  h1 {
    color:white;
  }
  
  #infoContainer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
  }
  
  p {
    margin: 10px 0;
  }
  
  strong {
    color: #333;
  }
  
  span {
    color: #777;
  }
  